[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

jupyter = "*"
requests = "*"
mypy = "*"
pygsheets = "*"
phonenumbers = "*"
"beautifulsoup4" = "*"
pytz = "*"
ipdb = "*"


[dev-packages]

